[lang^="ta-Taml"] {
    font-size-adjust: ex-height 0.5;
}

.citref {
    font-size: 1.1rem;
    white-space: normal;
    font-variant: small-caps;
}

.citref [lang^='ta-Taml'] {
    font-variant-ligatures: historical-ligatures;
}

.citref a[href]::after {
    background: none;
}
.citref a[href] {
    background: none;
}

#nikantu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
 
#nikantu-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 1.2rem;
    margin-top: 1rem;
}

.citation-nikantu .versenumber:after {
    content: ':';
}

.verseid {
    display: none;
}

.nikantu-form {
    font-style: italic;
    font-size: 1.3rem;
    font-weight: normal;
}

.graph-header {
    font-size: 1.2rem;
    font-weight: normal;
    white-space: nowrap;
    padding-right: 0.2rem;
}
a.graph-bar {
    background: none;
}

div.lg div.l {
    line-height: revert;
}
blockquote {
    margin-bottom: 0;
}
li blockquote {
    margin-left: 0;
}
.blockcite {
    text-align: right;
    max-width: 80%;
}
li {
    /*width: fit-content;*/
    margin-bottom: 1rem;
}
.sense {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}
.sense > div:first-child {
    max-width: 80%;
}
.sense > div:last-child {
    margin-top: 2rem;
}
.certlow {
    opacity: 60%;
}
#latestcommit {
    font-size: 1.2rem;
}
details {
    margin-bottom: 1rem;
}
details details {
    margin-left: 1.2rem;
}
details[open] > summary .nested-grammar {
    display: none;
}

summary {
    cursor: default;
}
details details summary {
    width: 87.5%;
}
details:not([open]) summary:hover {
    background: rgb(253,253,129);
}

small.note {
    display: block;
    width: 500px;
    max-width: 75vw;
}
small.note + small.note {
    margin-top: 1rem;
}
.nested-grammar {
    font-style: italic;
    font-size: smaller;
}
span.word.split {
    margin-right: 0;
}
span.word.split:hover {
    background: none;
}

.teitext details p.bibliography {
    font-size: 1.2rem;
    max-width: 100ch;
    text-indent: -1em;
    padding-left: 2.5rem;
}

.citation-nikantu {
    max-width: 80ch;
}

.def-ta {
    display: block;
}

.teitext em.title, em.title {
    font-style: italic;
}

.teitext em.title[lang^='ta-Taml'], em.title[lang^='ta-Taml'] {
    font-style: oblique;
}

ol {
    padding-left: 1rem;
}
ul {
    padding-left: 2.5rem;
}
ol ul, ul ul {
    padding-left: 1rem;
}
h4 {
    font-size: 1.5rem;
}
.teitext p {
    text-indent: 0px;
}

.warning {
	color: red;
	border: 2px solid red;
	display: inline-block;
	width: 1.35rem;
	height: 1.35rem;
	border-radius: 20px;
	text-align: center;
	line-height: 1.5rem;
	margin-right: 0.5rem;
	cursor: default;
    margin-left: -2rem;
    font-weight: bold;
}

@media (max-width: 1080px) {
    .teitext {
        width: 95%;
    }
    small.note {
        width: 300px;
    }
}

@media (max-width: 800px) {
    .teitext {
        width: unset;
        padding-right: 1rem;
    }
    img {
        width: unset;
    }
    th {
        writing-mode: revert;
        position: revert;
        padding-top: 0;
    }
    .sense {
        flex-wrap: wrap;
    }
    .sense > div:first-child {
        max-width: fit-content;
    }
    .sense > div:last-child {
        margin-top: 0px;
    }
    .blockcite {
        text-align: right;
        width: 100%;
    }
    small.note {
        width: fit-content;
        max-width: 90vw;
    }
}

@media (max-width: 500px) {
    .record.fat {
        padding-left: 1rem;
        width: 100%;
    }
    #buttoncontainer {
        left: 0px;
    }
    .citref {
        display: block;
    }
}
