.msid {
    font-size: 1.1rem;
}
div.lg div.l {
    line-height: revert;
}
blockquote {
    margin-bottom: 0;
}
.blockcite {
    text-align: right;
}
li {
    width: fit-content;
    margin-bottom: 1rem;
}
.certlow {
    opacity: 60%;
}
#latestcommit {
    font-size: 1.2rem;
}
